svg{
    background:#3d3d5c;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

p.post-text{
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

